body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #151515;
}

dt {
    padding-top: 10px;
    float:middle;
    clear:middle; 
    width:380px; 
    border:solid 1px #000; 
    background: #f6f9c8;
}

dd {
    float:middle; 
    width:150px; 
    border:solid 1px #000; 
    margin:0;
}


.topnav {
    font-size: 14px;
    background-color: #050506;
}

.lead {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.navbar {
   color: #151515; 
}

body {
    background: url(../images/clouds.jpg) no-repeat center center;
    background-size: cover;
}

.intro-header {
    padding-top: 5px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 25px;
    text-align: left;
    color: #1d1d1e;
    }

.intro-message {
    position: absolute;
    padding-top: 5%;
    padding-bottom: 20%;
}

.intro-message > h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    font-size: 10em;
    color: white;
}

.intro-message > h3 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    font-size: 10em;
    color: white;
}


.intro-divider {
    width: 500px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: #DADADB;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    color: #292929;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.img-responsive {
    border: 5px, white;

}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}


.banner {
    padding: 20px 0;
    margin-top: 670px;
    color: #DADADB;
    background-color: #141414;
    background-size: cover;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.banner h2 {
    margin: 0;
    color:  #DADADB;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
    color: #DADADB;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        color: #DADADB;
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 10;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 5px 0;
    background-color: black;
    color: #DADADB;
}

p.copyright {
    margin: 15px 0 0;
    color: #DADADB;
}

a {
    font-size: 15px;
}

@media (min-width: 1200px) {
    .container {
        width: 95%;
    }
}
